/* 
  generic 
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f6f8f9;
  font-family: 'Roboto', sans-serif;
}

header, main{
  background-color: white;
}

main .btn{
  padding: 3px 8px;
  border-radius: 5px;
  border: 1px solid;
}



/* 
  header 
*/

header{
  height: 80px;
  padding: 15px;
  margin-bottom: 50px;
}

header img{
  vertical-align: middle;
}

header #logo-name{
  font-size: 45px;
  vertical-align: middle;
}



/* 
  main 
*/

.container-top{
  height: 550px;
  width: 80%;
  min-width: 700px;
  margin: 0px auto;
  border-radius: 10px;
}

main .top-section{
  padding: 20px 30px;  
  border-bottom: 3px solid #f6f8f9;
}

main .btn.task{
  background-color: #47adf1;;
  border-color: #47adf1;
  color: white;
}

main .btn.section{
  background-color: white;
  border-color: #c5cbd0;
  color: #c5cbd0;
}



/* 
  main-section 
*/

main .container-middle{
  padding: 0px 30px;
}

main section .task-history{
  list-style-type: none;
  margin-top: 30px;
}

main section ul h3::before{
  content: '\25BE';
}

main section ul li:nth-child(1n){
  margin-top: 10px;
}

main section ul li .check-positive::after{
  content: '\2714';
  color: #92d4c6;
  border: 1px solid #92d4c6;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 5px;
  padding: 1px;
}

main section ul li .check-negative::after{
  content: '\2715';
  color: #e7372f;
  border: 1px solid #e7372f;
  border-radius: 50%;
  font-size: 11px;
  margin-right: 5px;
  padding: 1px;
}



/*
  tags 
*/

main section ul li .tag{
  color: white;
  display: inline-block;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 15px;
}

main section ul li .editorial.tag{
  background-color: #45abea;
}

main section ul li .goals.tag{
  background-color: #9c72e4
}

main section ul li .recruiting.tag{
  background-color: #64c0a9
}

main section ul li .mobile.tag{
  background-color: #f29e33
}

main section ul li .website.tag{
  background-color: #d863a1
}

main section ul li .sales.tag{
  background-color: #b0c926
}